#tix-attendees{
    @include mq(sp){
        max-width: 100%;
    }
    ul{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 0;
      @include mq(sp){
        display: block;
      }
      &::after{
        content: "";
        display: block;
        width: calc(33.333% - 10px);
      }
      &.tix-columns-3{
          li{
            width: calc(33.333% - 10px);
            float: none;
            height: auto;
            &::after{
              content: "";
              display: block;
              width: 100%;
              height: 0;
              clear: both;
            }
              @include mq(sp){
                  width: 100%;
                  padding-bottom: 10px;
                  border-bottom: 1px solid $ltgray;
              }
              a{
                border-bottom: none;
              }
          }
      }
    }
}
