/* --------------------
 color settings
-------------------- */
$primary: #289563;
$secondary: #d69d12;
$textcolor: #333;

$gold: #ffb74a;
$silver: #c4bfc4;
$bronze: #9e5318;
$green: #69b74b;

/* --------------------
 font
-------------------- */
$rootfont: 16px;
$fontfamily: Noto Sans JP, Hiragino Kaku Gothic Pro, Meiryo, sans-serif;
