/* --------------------
  カウントダウンウィジェット
-------------------- */
.milestone-header {
  background-color: #289563 !important;
  border-radius: 10px 10px 0 0;
}

.milestone-countdown {
  border-radius: 0 0 10px 10px;
  border: 1px solid #e1e1e1 !important;
}
