/* --------------------
 固定トップページの設定
-------------------- */
// entry header
body{
  &.home{
    .entry{
      .entry-header{
        display: none;
      }
    }
  }
}
// news
.front-news{
  border: 5px solid $ltgray;
  border-radius: 20px;
  padding: 40px;
  max-width: 780px !important;
  margin: 100px auto !important;
  @include mq(sp){
    padding: 20px;
  }
  h3{
    text-align: center;
    &::before{
      display: none;
    }
  }
  ul{
    li{
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      border-bottom: 1px solid $ltgray;
      margin-bottom: 1rem;
      @include mq(sp){
        flex-flow: column;
      }
      &:last-child{
        margin-bottom: 0;
        border-bottom: none;
      }
      &::before{
        content: "NEW";
        display: block;
        padding: 2px 8px;
        line-height: 1;
        background: #cc0000;
        color: #ffffff;
        font-size: 12px;
        margin-right: 0.5rem;
        border-radius: 3px;
        @include mq(sp){
          margin-right: 0;
          margin-bottom: 0.5rem;
        }
      }
      a{
        font-size: 16px;
        margin-right: 1em;
        @include mq(sp){
          margin-right: 0;
          margin-bottom: 0.5rem;
          text-decoration: none !important;
        }
      }
      .wp-block-latest-posts__post-date{
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
}
//front-about
.front-about{
  padding: 60px 40px 40px 40px;
  background: #f6f6f6;
  border-radius: 20px;
  @include mq(sp){
    max-width: 100% !important;
    padding: 20px;
  }
  h2{
    &.front-about-heading{
      margin-top: 30px;
      position: inherit;
      padding-left: 0;
      &::before{
        display: none;
      }
    }
  }
  .front-about-day-item{
    background: #ffffff;
    padding: 40px 20px;
    margin-top: 40px;
    border-radius: 16px;
    .front-day-item-date{
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem;
      color: $primary;
      &::before{
        content: "";
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto 20px auto;
        background-position: center;
        background-size: 100% auto;
        background-repeat: no-repeat;
      }
    }
    &.contributor-day{
      .front-day-item-date{
        &::before{
          background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/front-icon-contributorday.png');
        }
      }
    }
    &.session-day{
      .front-day-item-date{
        &::before{
          background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/front-icon-sessionday.png');
        }
      }
    }
    h3{
      text-align: center;
      &::before{
        display: none;
        margin-top: 10px;
      }
      span{
        font-size: 12px;
        margin-top: 0.5em;
        display: block;
      }
      &.afterparty-title{
        &::before{
          display: block;
          content: "";
          width: 45px;
          height: 45px;
          background: url('https://2019.tokyo.wordcamp.org/files/2019/09/front-icon-afterparty.png') no-repeat;
          background-position: center;
          background-size: 100% auto;
          margin: 0 auto 20px auto;
        }
      }
    }
    .front-day-item-info{
      display: flex;
      justify-content: center;
      align-items: center;
      li{
        list-style: none;
        &:first-child{
          margin-right: 2em;
        }
      }
    }
    .wp-block-columns{
      &.front-btn-nav{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        .wp-block-column{
          .wp-block-button__link{
            width: 100%;
          }
        }
        &.session-cont-nav{
          .wp-block-column{
            .wp-block-button__link{
              &:hover{
                border-color: $secondary;
                color: #ffffff !important;
              }
            }
          }
        }
        &.support-cont-nav{
          .wp-block-column{
            .wp-block-button__link{
              &:hover{
                border-color: $primary;
                background: $primary;
                color: #ffffff !important;
              }
            }
          }
        }
      }
    }
    & > p{
      width: 80%;
      margin: 0 auto 2em auto;
    }
    h4{
      border: none;
    }
    .wp-block-embed-youtube{
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .wp-block-separator{
      background-color: $ltgray;
    }
  }
}
//access
h2{
  &.front-access-heading{
    padding-top: 100px;
    text-align: center;
    position: inherit;
    margin-bottom: 70px !important;
    &::before{
      position: inherit;
      content: "";
      width: 60px;
      height: 60px;
      margin: 0 auto 20px auto;
      background: url('https://2019.tokyo.wordcamp.org/files/2019/09/front-icon-access.png') no-repeat;
      background-position: center;
      background-size: 100% auto;
    }
  }
}
