/* --------------------
実行委員 設定
-------------------- */
.wcorg-organizers{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  .wcorg-organizer{
    width: 33.333%;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    border-right: 1px solid $ltgray;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    &:nth-child(3n){
      border-right: none;
    }
    @include mq(sp){
      width: 100%;
      padding: 0 10px 0px 10px;
    }
    h2{
      position: inherit;
      font-size: 1.1rem;
      font-weight: normal;
      padding: 0;
      margin: 10px 0 0 0;
      &::before{
        display: none;
      }
    }
    .wcorg-organizer-description{
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
      font-size: 0.9rem;
      .avatar{
        width: 50px;
        height: auto;
      }
    }
  }
}
