/* --------------------
実行委員 設定
-------------------- */
.wcorg-organizers{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .wcorg-organizer{
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    border-right: 1px dotted $ltgray;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    &:nth-child(2n){
      border-right: none;
    }
    @include mq(sp){
      width: 100%;
      padding: 10px 0px;
      border-right: none;
      border-bottom: 1px dotted $ltgray;
      &:last-child{
        border-bottom: none;
      }
    }
    h2{
      position: inherit;
      font-size: 1.1rem;
      font-weight: bold;
      padding: 0;
      margin: 10px 0 0 0;
      &::before{
        display: none;
      }
    }
    .wcorg-organizer-description{
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 1rem;
      .avatar{
        width: 65px;
        height: auto;
        margin-bottom: 1rem;
      }
      p{
        font-size: 0.9rem;
        margin: 0 0 0.5em 0;
      }
    }
  }
}
