/* --------------------
 タイムテーブル
-------------------- */
/*色設定設定
----------------------*/
$tablebordercolor: #ccc;
$emptycolor: #f1f1f1;
$favbtnhovercolor: #d69d12;
$lunchcolor: rgb(255,245,240);

$room_ab: #4DAE81;
$room_cd: #5B9EB7;
$room_ef: #F39E5F;
$room_gh: #E16E7F;
$room_k: #A180A2;
$room_other: #717071;

.cell-border-rb{
  border-right: 1px solid $tablebordercolor !important;
  border-bottom: 1px solid $tablebordercolor !important;
}

/*タイムテーブル
----------------------*/
.entry-content{
  .wcpt-schedule{
    border-top: 1px solid $tablebordercolor !important;
    border-left: 1px solid $tablebordercolor !important;
    border-right: 0;
    border-bottom: 0;
    th{
      border-top: 0;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      &:last-of-type{
        border-right: 1px solid $tablebordercolor !important;
      }
    }
    td{
      border-top: 0;
      border-left: 0;
      @extend .cell-border-rb;
    }
    /*トラック情報設定
    ----------------------*/
    thead{
      tr{
        th{
          text-align: center;
          font-size: 0.9rem;
          font-weight: bold;
          text-align: center;
          width: 18%;
          border-bottom: 1px solid $tablebordercolor !important;
          &.wcpt-col-time{
            background: #444444;
            color: #ffffff;
            width: 10%;
            border-right: 1px solid $tablebordercolor !important;
          }
          &:nth-last-of-type(-n+5){
            .wcpt-track-name{
              display: flex;
              flex-flow: column;
              font-size: 0.8rem;
              background-repeat: no-repeat;
              background-size: auto 20px;
              background-position: top center;
              padding-top: 15px;
              white-space: nowrap;
              &::before{
                display: block;
                margin-top: 15px;
                height: 20px;
                width: 100%;
                background-repeat: no-repeat;
                background-size: auto 100%;
                background-position: center;
                margin: 5px auto 0;
                font-size: 0.9rem;
              }
              &::after{
                display: block;
                font-size: 0.8rem;
              }
            }
          }
          &:nth-of-type(2){
            background: lighten($room_ab,40%);
            color: darken($room_ab,20%);
            .wcpt-track-name{
              background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/diamond.png');
              &::before{
                content: "Diamond";
              }
            }
          }
          &:nth-of-type(3){
            background: lighten($room_cd,35%);
            color: darken($room_cd,20%);
            .wcpt-track-name{
              background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/clover.png');
              &::before{
                content: "Clover";
              }
            }
          }
          &:nth-of-type(4){
            background: lighten($room_ef,30%);
            color: darken($room_ef,20%);
            .wcpt-track-name{
              background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/sun.png');
              &::before{
                content: "Sun";
              }
            }
          }
          &:nth-of-type(5){
            background: lighten($room_gh,30%);
            color: darken($room_gh,20%);
            .wcpt-track-name{
              background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/heart.png');
              &::before{
                content: "Heart";
              }
            }
          }
          &:nth-of-type(6){
            background: lighten($room_k,35%);
            color: darken($room_k,20%);
            .wcpt-track-name{
              background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/spade.png');
              &::before{
                content: "Spade";
              }
            }
          }
        }
      }
    }
    /*セッション内容設定
    ----------------------*/
    tbody{
      tr{
        &:first-child,
        &:nth-child(odd){
          td{
            background: transparent;
            color: inherit;
            text-align: inherit;
          }
        }
        td{
          &.wcpt-time{
            text-align: center;
            font-size: 0.8rem;
            vertical-align: top;
            background: #d9d9d9;
            @extend .cell-border-rb;
          }
          &.wcb-session-category-designer{
            &::after{
              content: 'デザイナー向け';
              background-color: #cc0000;
              color: #fff;
              padding: 5px;
              border-radius: 3px;
              font-size: 0.7rem;
            }
          }
          &.wcb-session-category-engineer{
            &::after{
              content: 'エンジニア向け';
              background-color: #0000cc;
              color: #fff;
              padding: 5px;
              border-radius: 3px;
              font-size: 0.7rem;
            }
          }
          &.wcb-session-category-director{
            &::after{
              content: 'ディレクター向け';
              background-color: #009900;
              color: #fff;
              padding: 5px;
              border-radius: 3px;
              font-size: 0.7rem;
            }
          }
          &.wcb-session-category-blogger{
            &::after{
              content: 'ブロガー向け';
              background-color: #ff6600;
              color: #fff;
              padding: 5px;
              border-radius: 3px;
              font-size: 0.7rem;
            }
          }
          &.wcb-session-category-english{
            &::after{
              content: '英語セッション';
              background-color: #bb00ee;
              color: #fff;
              padding: 5px;
              border-radius: 3px;
              font-size: 0.7rem;
            }
          }
          .wcb-session-cell-content{
            a{
              color: #0c824b;
              border-color: #289563;
              border: none;
              text-decoration: none;
              word-wrap: break-word;
              word-break: break-word;
              &:hover{
                text-decoration: underline !important;
                border: none;
              }
            }
            .wcpt-session-speakers{
              display: block;
              margin-top: 0.25em;
              a{
                color: #555;
                border-color: #555;
                text-decoration: underline !important;
                transition: backgroun-color .3s ease;
                &:hover,&:active{
                  border: none;
                  background-color: #eee !important;
                }
              }
            }
          }
          div.wcb-session-favourite-icon{
            @include mq(sp){
              position: inherit !important;
              top: inherit !important;
              right: inherit !important;
              width: 30px !important;
              display: flex !important;
              margin-top: 10px;
              justify-content: flex-end;
            }
            a.fav-session-button{
              border: none;
              color: #e8e8e8 !important;
              &:hover{
                color: #e8e8e8 !important;
              }
            }
          }
          &.wcb-favourite-session{
            div.wcb-session-favourite-icon{
              a.fav-session-button{
                color: $favbtnhovercolor !important;
              }
            }
          }
          &[class*="wcb-session-%e4%bc%91%e6%86%a9"]{
            background-color: $lunchcolor;
          }
          &[class*="wcb-session-%e9%96%89%e5%a0%b4"]{
            background-color: $emptycolor;
          }
        }
        &.global-session{
          td{
            text-align: center;
          }
        }
        /*個別時間帯の設定
        ----------------------*/
        .no-bottom{
          border-bottom-width: 0 !important;
        }
        &.wcpt-time-1030{
          .wcpt-session-empty{
            background: $emptycolor;
          }
          td{
            &:nth-of-type(3),&:nth-of-type(6){
              @extend .no-bottom;
            }
          }
        }
        &.wcpt-time-1100{
          .wcpt-session-empty{
            background: $emptycolor;
            @extend .no-bottom;
          }
        }
        &.wcpt-time-1100{
          .wcb-track-sun,.wcb-track-heart{
            @extend .no-bottom;
          }
        }
        &.wcpt-time-1115{
          td{
            &:nth-of-type(4),&:nth-of-type(5){
              @extend .no-bottom;
            }
            &:nth-of-type(3),&:nth-of-type(6){
              background: $emptycolor;
            }
          }
        }
        &.wcpt-time-1130{
          td{
            &:nth-of-type(4){
              @extend .no-bottom;
            }
          }
        }
        &.wcpt-time-1445{
          .wcb-track-clover,.wcb-track-spade{
            @extend .no-bottom;
          }
        }
        &.wcpt-time-1545{
          .wcpt-session-type-session{
            @extend .no-bottom;
          }
        }
        &.wcpt-time-1600{
          .wcpt-session-type-custom{
            @extend .no-bottom;
          }
        }
        &.wcpt-time-1630{
          td{
            &:nth-of-type(3){
              background-color: $emptycolor;
            }
          }
        }
        &.wcpt-time-1345{
          .wcpt-session-empty{
            @extend .no-bottom;
            &::before{
              content: 'スポンサー';
            }
          }
        }
        &.wcpt-time-1430,&.wcpt-time-1445,&.wcpt-time-1500,&.wcpt-time-1515,&.wcpt-time-1530{
          .wcpt-session-empty{
            @extend .no-bottom;
          }
        }
        &.wcpt-time-1245{
          td{
            background: $lunchcolor;
          }
        }
      }
    }
  }
}

/*スマートフォン
----------------------*/
@media screen and (max-width: 700px){
  .mobile-session-diamond{
    background: lighten($room_ab, 40%) url('https://2019.tokyo.wordcamp.org/files/2019/09/diamond.png') left .5em center/auto 50% no-repeat;
    color: darken($room_ab,20%);
    border-radius: 3px;
    padding-left: 2em;
  }
  .mobile-session-clover{
    background: lighten($room_cd, 35%) url('https://2019.tokyo.wordcamp.org/files/2019/09/clover.png') left .5em center/auto 50% no-repeat;
    color: darken($room_cd,20%);
    border-radius: 3px;
    padding-left: 2em;
  }
  .mobile-session-sun{
    background: lighten($room_ef, 30%) url('https://2019.tokyo.wordcamp.org/files/2019/09/sun.png') left .5em center/auto 50% no-repeat;
    color: darken($room_ef,20%);
    border-radius: 3px;
    padding-left: 2em !important;
  }
  .mobile-session-heart{
    background: lighten($room_gh, 30%) url('https://2019.tokyo.wordcamp.org/files/2019/09/heart.png') left .5em center/auto 50% no-repeat;
    color: darken($room_gh,20%);
    border-radius: 3px;
    padding-left: 2em;
  }
  .mobile-session-spade{
    background: lighten($room_k, 35%) url('https://2019.tokyo.wordcamp.org/files/2019/09/spade.png') left .5em center/auto 50% no-repeat;
    color: darken($room_k,20%);
    border-radius: 3px;
    padding-left: 2em;
  }
  .entry-content{
    .wcpt-schedule{
      max-width: 100% !important;
      border-bottom: 0 !important;
      border-right: 0 !important;
      border-top-width: 0 !important;
      border-left-width: 0 !important;
      tr{
        border: 1px solid $tablebordercolor !important;
        td{
          border-bottom: 0 !important;
          border-right: 0 !important;
          border-top-width: 0 !important;
          border-left-width: 0 !important;
        }
      }
      tbody{
        tr{
          &.global-session{
            td{
              text-align: left;
            }
          }
          td{
            &.wcpt-time{
              border-bottom: 1px solid $tablebordercolor !important;
              text-align: center;
            }
            &.wcpt-session-type-session{
              margin-bottom: 0;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: space-between;
              &::before{
                border-bottom: none !important;
                border-top: none !important;
                font-size: 0.9rem;
                padding: 8px 10px;
                font-weight: bold;
                width: 100% !important;
                float: none !important;
                height: auto !important;
              }
              .wcb-session-cell-content{
                width: calc(100% - 30px);
                .wcpt-session-speakers{
                  padding-left: 10px;
                }
                a{
                  border: none;
                  text-decoration: none;
                }
              }
              &.wcb-track-diamond{
                &::before{
                  @extend .mobile-session-diamond;
                  content: 'Diamond' attr( data-track-title );
                }
              }
              &.wcb-track-clover{
                &::before{
                  @extend .mobile-session-clover;
                  content: 'Clover' attr( data-track-title );
                }
              }
              &.wcb-track-sun{
                &::before{
                  @extend .mobile-session-sun;
                  content: 'Sun' attr( data-track-title );
                }
              }
              &.wcb-track-heart{
                &::before{
                  @extend .mobile-session-heart;
                  content: 'Heart' attr( data-track-title );
                }
              }
              &.wcb-track-spade{
                &::before{
                  @extend .mobile-session-spade;
                  content: 'Spade' attr( data-track-title );
                }
              }
            }
          }
          /*個別時間帯の設定
          ----------------------*/
          .mobile-session-tag{
            font-size: 0.9rem;
            font-weight: bold;
            content: attr( data-track-title );
            display: block;
            margin-bottom: 8px;
            padding: 3px 10px 3px 2em;
          }
          &.wcpt-time-1030,&.wcpt-time-1100{
            .wcpt-session-empty{
              display: none;
            }
            .wcpt-session-type-custom{
              &::before{
                @extend .mobile-session-tag;
                @extend .mobile-session-sun;
              }
            }
          }
          &.wcpt-time-1100,&.wcpt-time-1130,&.wcpt-time-1115,&.wcpt-time-1130,&.wcpt-time-1145,&.wcpt-time-1345,&.wcpt-time-1430,&.wcpt-time-1445,&.wcpt-time-1500,&.wcpt-time-1515,&.wcpt-time-1530,&.wcpt-time-1545,&.wcpt-time-1600,&.wcpt-time-1630{
            .wcpt-session-empty{
              display: none;
            }
          }
          //休憩セル
          &.wcpt-time-1145,&.wcpt-time-1430,&.wcpt-time-1530{
            .wcpt-session-type-custom{
              &::before{
                @extend .mobile-session-tag;
                content: '（Room AB CD GH K）';
                background-color: $emptycolor;
                background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/diamond.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/clover.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/heart.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/spade.png');
                background-size: auto 50%;
                background-repeat: no-repeat;
                background-position: right 5em center, right 3.5em center, right 2em center, right .5em center;
              }
              &:nth-of-type(2){
                display: none;
              }
            }
          }
          &.wcpt-time-1500{
            .wcpt-session-type-custom{
              &::before{
                @extend .mobile-session-tag;
                content: '（Room AB GH）';
                background-color: $emptycolor;
                background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/diamond.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/heart.png');
                background-size: auto 50%;
                background-repeat: no-repeat;
                background-position: right 2em center, right .5em center;
              }
              &:nth-of-type(2){
                display: none;
              }
            }
          }
          //閉場
          &.wcpt-time-1600{
            .wcpt-session-type-custom{
              &::before{
                @extend .mobile-session-tag;
                @extend .mobile-session-sun;
                content: 'Sun' attr( data-track-title );
              }
            }
          }
          &.wcpt-time-1630{
            td{
              &[class*="wcb-session-%e9%96%89%e5%a0%b4"]{
                background-color: blue;
                display: none;
              }
            }
          }
          &.wcpt-time-1645{
            .wcpt-session-type-custom{
              &::before{
                @extend .mobile-session-tag;
                content: ' (All Rooms )';
                background-color: $tablebordercolor;
                background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/diamond.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/clover.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/sun.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/heart.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/spade.png');
                background-size: auto 50%;
                background-repeat: no-repeat;
                background-position: right 6.5em center, right 5em center, right 3.5em center, right 2em center, right .5em center;
              }
            }
          }
          //閉会の挨拶
          &.wcpt-time-1630{
            .wcpt-session-type-custom{
              &::before{
                @extend .mobile-session-tag;
                @extend .mobile-session-heart;
                content: 'Heart' attr( data-track-title );
              }
            }
          }
        }
      }
    }
  }
}
