/* --------------------
 タイムテーブル
-------------------- */
/*色設定設定
----------------------*/
$tablebordercolor: #ccc;
$emptycolor: #f1f1f1;
$favbtnhovercolor: #d69d12;
$lunchcolor: rgb(255,245,240);

$room_ab: #4DAE81;
$room_cd: #5B9EB7;
$room_ef: #F39E5F;
$room_gh: #E16E7F;
$room_k: #A180A2;
$room_other: #717071;

.cell-border-rb{
  border-right: 1px solid $tablebordercolor !important;
  border-bottom: 1px solid $tablebordercolor !important;
}

/*タイムテーブル
----------------------*/
.entry-content{
  .wcpt-schedule{
    border-top: 1px solid $tablebordercolor !important;
    border-left: 1px solid $tablebordercolor !important;
    border-right: 0;
    border-bottom: 0;
    th{
      border-top: 0;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      &:last-of-type{
        border-right: 1px solid $tablebordercolor !important;
      }
    }
    td{
      border-top: 0;
      border-left: 0;
      @extend .cell-border-rb;
    }
    /*トラック情報設定
    ----------------------*/
    thead{
      tr{
        th{
          text-align: center;
          font-size: 0.9rem;
          font-weight: bold;
          text-align: center;
          width: 18%;
          border-bottom: 1px solid $tablebordercolor !important;
          &.wcpt-col-time{
            background: #444444;
            color: #ffffff;
            width: 10%;
            border-right: 1px solid $tablebordercolor !important;
          }
          &:nth-last-of-type(-n+5){
            .wcpt-track-name{
              display: flex;
              flex-flow: column;
              font-size: 0.8rem;
              &::before{
                content: "";
                display: block;
                height: 40px;
                padding-top: 20px;
                width: 100%;
                text-align: center;
                font-size: 1rem;
                background-repeat: no-repeat;
                background-size: auto 20px;
                background-position: center top;
                margin: 5px auto;
              }
            }
          }
          &:nth-of-type(2){
            background: lighten($room_ab,40%);
            color: darken($room_ab,20%);
            .wcpt-track-name{
              &::before{
                content: "- Diamond -";
                background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/diamond.png');
              }
            }
          }
          &:nth-of-type(3){
            background: lighten($room_cd,35%);
            color: darken($room_cd,20%);
            .wcpt-track-name{
              &::before{
                content: "- Clover -";
                background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/clover.png');
              }
            }
          }
          &:nth-of-type(4){
            background: lighten($room_ef,30%);
            color: darken($room_ef,20%);
            .wcpt-track-name{
              &::before{
                content: "- Sun -";
                background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/sun.png');
              }
            }
          }
          &:nth-of-type(5){
            background: lighten($room_gh,30%);
            color: darken($room_gh,20%);
            .wcpt-track-name{
              &::before{
                content: "- Heart -";
                background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/heart.png');
              }
            }
          }
          &:nth-of-type(6){
            background: lighten($room_k,35%);
            color: darken($room_k,20%);
            .wcpt-track-name{
              &::before{
                content: "- Spade -";
                background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/spade.png');
              }
            }
          }
        }
      }
    }
    /*セッション内容設定
    ----------------------*/
    tbody{
      tr{
        &:first-child,
        &:nth-child(odd){
          td{
            background: transparent;
            color: inherit;
            text-align: inherit;
          }
        }
        td{
          &.wcpt-time{
            text-align: center;
            font-size: 0.8rem;
            vertical-align: top;
            background: #d9d9d9;
            @extend .cell-border-rb;
          }
          .wcb-session-cell-content{
            a{
              color: #289563;
              border-color: #289563;
              &:hover{
                text-decoration: underline !important;
                border: none;
              }
            }
            .wcpt-session-speakers{
              display: block;
              margin-top: 0.25em;
              a{
                color: #555;
                border-color: #555;
                text-decoration: underline;
                &:hover{
                  border: none;
                }
              }
            }
          }
          div.wcb-session-favourite-icon{
            @include mq(sp){
              position: inherit !important;
              top: inherit !important;
              right: inherit !important;
              width: 100% !important;
              display: flex !important;
              margin-top: 10px;
              justify-content: flex-end;
            }
            a.fav-session-button{
              border: none;
              &:hover{
                color: $favbtnhovercolor;
              }
            }
          }
          &.wcb-favourite-session{
            div.wcb-session-favourite-icon{
              a.fav-session-button{
                color: $favbtnhovercolor;
              }
            }
          }
        }
        &.global-session{
          td{
            text-align: center;
          }
        }
        /*個別時間帯の設定
        ----------------------*/
        .no-bottom{
          border-bottom-width: 0 !important;
        }
        &.wcpt-time-1030{
          .wcpt-session-empty{
            background: $emptycolor;
          }
          td{
            &:nth-of-type(3),&:nth-of-type(6){
              @extend .no-bottom;
            }
          }
        }
        &.wcpt-time-1100{
          .wcpt-session-empty{
            background: $emptycolor;
            @extend .no-bottom;
          }
        }
        &.wcpt-time-1100{
          .wcb-track-sun,.wcb-track-heart{
            @extend .no-bottom;
          }
        }
        &.wcpt-time-1115{
          td{
            &:nth-of-type(4),&:nth-of-type(5){
              @extend .no-bottom;
            }
            &:nth-of-type(3),&:nth-of-type(6){
              background: $emptycolor;
            }
          }
        }
        &.wcpt-time-1130{
          td{
            &:nth-of-type(4){
              @extend .no-bottom;
            }
          }
        }
        &.wcpt-time-1445{
          .wcb-track-clover,.wcb-track-spade{
            @extend .no-bottom;
          }
        }
        &.wcpt-time-1545{
          .wcpt-session-type-session{
            @extend .no-bottom;
          }
        }
        &.wcpt-time-1600{
          .wcpt-session-type-custom{
            @extend .no-bottom;
          }
          td{
            &:nth-of-type(4){
              background-color: $emptycolor;
            }
          }
        }
        &.wcpt-time-1630{
          td{
            &:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(5){
              background-color: $emptycolor;
            }
          }
        }
        &.wcpt-time-1645{
          td{
            &:nth-of-type(2){
              background-color: $emptycolor;
            }
          }
        }
        &.wcpt-time-1345,&.wcpt-time-1430,&.wcpt-time-1445,&.wcpt-time-1500,&.wcpt-time-1515,&.wcpt-time-1530{
          .wcpt-session-empty{
            @extend .no-bottom;
          }
        }
        &.wcpt-time-1245{
          td{
            background: $lunchcolor;
          }
        }
      }
    }
  }
}

/*スマートフォン
----------------------*/
@media screen and (max-width: 700px){
  .mobile-session-diamond{
    background: lighten($room_ab, 40%) url('https://2019.tokyo.wordcamp.org/files/2019/09/diamond.png') right .5em center/auto 50% no-repeat;
    color: darken($room_ab,20%);
    border-radius: 3px;
  }
  .mobile-session-clover{
    background: lighten($room_cd, 35%) url('https://2019.tokyo.wordcamp.org/files/2019/09/clover.png') right .5em center/auto 50% no-repeat;
    color: darken($room_cd,20%);
    border-radius: 3px;
  }
  .mobile-session-sun{
    background: lighten($room_ef, 30%) url('https://2019.tokyo.wordcamp.org/files/2019/09/sun.png') right .5em center/auto 50% no-repeat;
    color: darken($room_ef,20%);
    border-radius: 3px;
  }
  .mobile-session-heart{
    background: lighten($room_gh, 30%) url('https://2019.tokyo.wordcamp.org/files/2019/09/heart.png') right .5em center/auto 50% no-repeat;
    color: darken($room_gh,20%);
    border-radius: 3px;
  }
  .mobile-session-spade{
    background: lighten($room_k, 35%) url('https://2019.tokyo.wordcamp.org/files/2019/09/spade.png') right .5em center/auto 50% no-repeat;
    color: darken($room_k,20%);
    border-radius: 3px;
  }
  .entry-content{
    .wcpt-schedule{
      max-width: 100% !important;
      border-bottom: 0 !important;
      border-right: 0 !important;
      border-top-width: 0 !important;
      border-left-width: 0 !important;
      tr{
        border: 1px solid $tablebordercolor !important;
        td{
          border-bottom: 0 !important;
          border-right: 0 !important;
          border-top-width: 0 !important;
          border-left-width: 0 !important;
        }
      }
      tbody{
        tr{
          &.global-session{
            td{
              text-align: left;
            }
          }
          td{
            &.wcpt-time{
              border-bottom: 1px solid $tablebordercolor !important;
              text-align: center;
            }
            &.wcpt-session-type-session{
              margin-bottom: 0;
              &::before{
                border-bottom: none !important;
                border-top: none !important;
                font-size: 0.9rem;
                padding: 8px 10px;
                font-weight: bold;
                content: attr( data-track-title )!important;
                width: 100% !important;
                float: none !important;
                height: auto !important;
              }
              .wcb-session-cell-content{
                .wcpt-session-speakers{
                  padding-left: 10px;
                }
                a{
                  border: none;
                }
              }
              &.wcb-track-diamond{
                &::before{
                  @extend .mobile-session-diamond;
                }
              }
              &.wcb-track-clover{
                &::before{
                  @extend .mobile-session-clover;
                }
              }
              &.wcb-track-sun{
                &::before{
                  @extend .mobile-session-sun;
                }
              }
              &.wcb-track-heart{
                &::before{
                  @extend .mobile-session-heart;
                }
              }
              &.wcb-track-spade{
                &::before{
                  @extend .mobile-session-spade;
                }
              }
            }
          }
          /*個別時間帯の設定
          ----------------------*/
          .mobile-session-tag{
            font-size: 0.9rem;
            font-weight: bold;
            content: attr( data-track-title );
            display: block;
            margin-bottom: 8px;
            padding: 3px 10px;
          }
          &.wcpt-time-1030,&.wcpt-time-1100{
            .wcpt-session-empty{
              display: none;
            }
            .wcpt-session-type-custom{
              &::before{
                @extend .mobile-session-tag;
                @extend .mobile-session-sun;
              }
            }
          }
          &.wcpt-time-1100,&.wcpt-time-1130,&.wcpt-time-1115,&.wcpt-time-1130,&.wcpt-time-1145,&.wcpt-time-1345,&.wcpt-time-1430,&.wcpt-time-1445,&.wcpt-time-1500,&.wcpt-time-1515,&.wcpt-time-1530,&.wcpt-time-1545,&.wcpt-time-1600,&.wcpt-time-1630{
            .wcpt-session-empty{
              display: none;
            }
          }
          //休憩セル
          &.wcpt-time-1145,&.wcpt-time-1430,&.wcpt-time-1530{
            .wcpt-session-type-custom{
              &::before{
                @extend .mobile-session-tag;
                content: 'Room AB CD GH K';
                background-color: $emptycolor;
                background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/diamond.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/clover.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/heart.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/spade.png');
                background-size: auto 50%;
                background-repeat: no-repeat;
                background-position: right 5em center, right 3.5em center, right 2em center, right .5em center;
              }
              &:nth-of-type(2){
                display: none;
              }
            }
          }
          &.wcpt-time-1500{
            .wcpt-session-type-custom{
              &::before{
                @extend .mobile-session-tag;
                content: 'Room AB GH';
                background-color: $emptycolor;
                background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/diamond.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/heart.png');
                background-size: auto 50%;
                background-repeat: no-repeat;
                background-position: right 2em center, right .5em center;
              }
              &:nth-of-type(2){
                display: none;
              }
            }
          }
          //閉場
          &.wcpt-time-1600{
            .wcpt-session-type-custom{
              &::before{
                @extend .mobile-session-tag;
                @extend .mobile-session-sun;
              }
            }
          }
          &.wcpt-time-1645{
            .wcpt-session-type-custom{
              &::before{
                @extend .mobile-session-tag;
                content: 'All Rooms';
                background-color: $tablebordercolor;
                background-image: url('https://2019.tokyo.wordcamp.org/files/2019/09/diamond.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/clover.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/sun.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/heart.png'), url('https://2019.tokyo.wordcamp.org/files/2019/09/spade.png');
                background-size: auto 50%;
                background-repeat: no-repeat;
                background-position: right 6.5em center, right 5em center, right 3.5em center, right 2em center, right .5em center;
              }
            }
          }
          //閉会の挨拶
          &.wcpt-time-1630{
            .wcpt-session-type-custom{
              &::before{
                @extend .mobile-session-tag;
                @extend .mobile-session-heart;
              }
            }
          }
        }
      }
    }
  }
}
