@import "config"; //設定ファイル
@import "archive"; //アーカイブタイトルの位置
@import "base"; //全体用設定
@import "comingsoon"; //カミングスーン一覧用設定
@import "countdown"; //カウントダウンウィジェット用設定
@import "footer"; //フッター設定
@import "frontpage"; //固定トップページの設定
@import "keyvisual"; //キービジュアル用設定
@import "navigation"; //グローバルナビゲーション用設定
@import "organizers"; //実行委員会一覧設定
@import "prevnext"; //投稿ページ遷移ナビゲーション設定
@import "session"; //セッション一覧用設定
@import "speaker"; //登壇者
@import "sponsor"; //スポンサー一覧用設定
@import "tickets"; //チケット用設定
@import "timetable"; //タイムテーブル用設定
@import "widget"; //ウィジェット設定
/* ----
for ティザーサイト
add 2019/06/01 21:45
*/

.entry .entry-content > * {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(10 * (100vw / 12) - 28px);
}
@media only screen and (min-width: 1168px){
  .entry .entry-content > * {
    max-width: calc(8 * (100vw / 12) - 28px);
  }
}
.alignfull {
  .wp-block-column {
    padding: 20px;
  }
}

.themeword {
  font-size: 1.4em;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}


/* スポンサー */
.sponsor-level {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.sponsor-level-title {
  width: 100%;
  min-width: 100%;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 3em 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before,
  &::after {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background: $textcolor;
    flex: 1;
  }
  &::before {
    margin-right: 0.5em;
  }
  &::after {
    margin-left: 0.5em;
  }
}

.sponsor-level.gold .sponsor-level-title {
  color: $gold;
  &::before,
  &::after {
    background: $gold;
  }
}
.sponsor-level.silver .sponsor-level-title {
  color: $silver;
  &::before,
  &::after {
    background: $silver;
  }
}
.sponsor-level.bronze .sponsor-level-title {
  color: $bronze;
  &::before,
  &::after {
    background: $bronze;
  }
}
.sponsor-level.green .sponsor-level-title {
  color: $green;
  &::before,
  &::after {
    background: $green;
  }
}

.sponsor-logo {
  padding-bottom: 0 !important;
  border: 1px solid #fff;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.sponsor-logo:hover {
  border: 1px solid #eee;
}

.sponsor-logo img {
  padding: 20px;
}
.sponsor-level.gold .sponsor-logo {
  flex: 0 1 100%;
}
.sponsor-level .sponsor-logo {
  flex: 0 1 50%;
}
@media only screen and (min-width: 768px) {
  .sponsor-level.gold .sponsor-logo {
    flex: 0 1 50%;
  }
  .sponsor-level.silver .sponsor-logo {
    flex: 0 1 50%;
  }
  .sponsor-level.bronze .sponsor-logo {
    flex: 0 1 33%;
  }
  .sponsor-level.green .sponsor-logo {
    flex: 0 1 25%;
  }
  .sponsor-level.in-kind .sponsor-logo {
    flex: 0 1 25%;
  }
}


/* ----
for coming soon mode
add 2019/04/19 11:57
update 2019/04/19 21:55
*/

/* elements */
button,
input[type="submit"] {
  background: #edb62e;
  border-color: $secondary;
  color: #373737;
  text-shadow: none;
}
.wccsp-header {
  background: #edb62e;
  background: linear-gradient(45deg, #d69d12, #edb62e);
  background: no-repeat url("/files/2019/04/tokyotower_dark.jpg"), linear-gradient(45deg, #d69d12, #edb62e);
  background-size: cover;
  background-position: 40% 50%;
  position: relative;
}
.wccsp-header:after {
  content: "Coming Soon!";
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  top: 2em;
  left: 1em;
  transform: rotate(-10deg);
}
.wccsp-header h1 {
  font-weight: 700;
}
h2.wccsp-dates {
  font-weight: 700;
  /* color: #373737; */
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
  body {
    font-size: 18px;
  }
  button,
  input[type="submit"] {
    font-size: 12px;
    line-height: 1.2em;
  }
  .wccsp-header {
    background-position: 20% 80%;
  }
}
/* XLarge screens */
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {
  .wccsp-header {
    background-attachment: fixed;
    background-position: bottom;
  }
}
/* ----
 end for coming soon mode style */

// ADD by mimi 2019/06/04
// Fix main-navivgation
.main-navigation .main-menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu.hidden-links {
  display: none;
}
.main-navigation .main-menu .menu-item-has-children.off-canvas .sub-menu.expanded-true {
  top: 48px;
}
// For the post of outline title
#post-397 h2 {
  margin-top: 0;
  padding-left: 0;
  font-size: 2.1em;
  word-wrap: break-word;
  &:before {
    display: none;
  }
}
// ADD by mimi 2019/06/06
// サイトロゴを表示しない
.site-logo {
  display: none;
}

// ADD by mimi 2019/06/20
// Fix centering
@media only screen and (min-width: 1168px) {
  .entry .entry-content .wp-block-image .aligncenter {
    margin: auto;
  }
}
@media only screen and (min-width: 768px) {
  .entry .entry-content .wp-block-image .aligncenter {
    margin: auto;
  }
  .entry .entry-content > *.aligncenter {
    margin-right: auto;
    margin-left: auto;
  }
}
// Button link Color
.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background) {
  background-color: #edb62e;
  color: $textcolor;
  &:hover {
    background-color: lighten(#edb62e,10%);
  }
}
// navigation link
.post-navigation .post-title {
	color: $primary;
}
// wp-block-cover
.image-filters-enabled{
  .entry{
    .post-thumbnail{
      display: none;
    }
  }
}

// ADD by mimi 2019/06/20
// Fix centering
@media only screen and (min-width: 1168px) {
  .entry .entry-content .wp-block-image .aligncenter {
    margin: auto;
  }
}
@media only screen and (min-width: 768px) {
  .entry .entry-content .wp-block-image .aligncenter {
    margin: auto;
  }
  .entry .entry-content > *.aligncenter {
    margin-right: auto;
    margin-left: auto;
  }
}
// Button link Color
.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background) {
  background-color: #edb62e;
  color: $textcolor;
  &:hover {
    background-color: lighten(#edb62e,10%);
  }
}
// navigation link
.post-navigation .post-title {
	color: $primary;
}
// wp-block-cover
.image-filters-enabled{
  .entry{
    .post-thumbnail{
      display: none;
    }
  }
}
