/* ----
for ティザーサイト
add 2019/06/01 21:45
*/

/* --------------------
  全体
-------------------- */
$primary: #289563;
$secondary: #d69d12;
$textcolor: #333;

$gold: #ffb74a;
$silver: #c4bfc4;
$bronze: #9e5318;
$green: #69b74b;

html {
  font-size: 16px;
}

html[lang="ja"] body,
html[lang="ja"] button,
html[lang="ja"] input,
html[lang="ja"] select,
html[lang="ja"] textarea,
html[lang="ja"] h1,
html[lang="ja"] h2,
html[lang="ja"] h3,
html[lang="ja"] h4,
html[lang="ja"] h5,
html[lang="ja"] h6,
html[lang="ja"] a,
html[lang="ja"] table,
html[lang="ja"] .site-title {
  font-family: Noto Sans JP, Hiragino Kaku Gothic Pro, Meiryo, sans-serif;
}

/* テキストカラー */
body {
  color: $textcolor;
}
.entry .entry-content > * {
  margin-left: auto;
  margin-right: auto;
}
.alignfull {
  .wp-block-column {
    padding: 20px;
  }
}

.themeword {
  font-size: 1.4em;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
/* --------------------
  ヘッダービジュアル
-------------------- */
/* グローバルメニュー */
.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  background-color: rgba(255, 255, 255, 0.95);
  margin-top: 0;
  z-index: 10;
  border-bottom: 1px solid #eeeeee;
}

.menu-globalmenu-container > .main-menu {
}
.main-navigation {
  .main-menu {
    & > li {
      color: $primary;
      &.menu-item-has-children {
        line-height: 1.6;
      }
    }
  }
  .menu-item {
    & > a {
      display: inline-block;
      font-size: 0.9rem;
      letter-spacing: 0.02em;
      color: $primary !important;
      padding: 15px;
      margin-right: 0 !important;
      transition: all 0.3s ease;
      &:hover {
        background-color: $primary;
        color: #fff !important;
      }
    }
  }
}
.main-navigation {
  .sub-menu {
    background: rgba($primary, 0.9);
    .menu-item {
      & > a {
        color: #ffffff !important;
      }
    }
    & > li {
      & > a {
        &:not(.submenu-eexpand) {
          &:hover {
            background: rgba($secondary, 0.9);
          }
        }
      }
    }
  }
  .menu-item-has-children {
    &.off-canvas {
      .sub-menu {
        background: rgba($primary, 0.9);
        & > li {
          color: #ffffff;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          & > a {
            color: #ffffff !important;
          }
        }
      }
    }
  }
}

//header
.site-description {
  display: none;
}

.site-header {
  padding: 80px 0;
  background: url('https://2019.tokyo.wordcamp.org/files/2019/07/keyvisual_sp.jpg') no-repeat;
  background-size: cover;
  position: relative;
  min-height: 90vh;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    bottom: -2px;
    background: url("https://2019.tokyo.wordcamp.org/files/2019/06/wave.png") repeat-x;
    background-size: auto 100%;
  }
	&.featured-image{
		display: block;
		overflow: inherit;
		text-shadow: none;
		background-color: #f5f5f5;
		background-repeat: repeat;
		background-size: inherit;
		min-height: inherit;
		margin-bottom: 0;
		&::after{
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 20px;
			left: 0;
			bottom: -2px;
			top: inherit;
			background: url("https://2019.tokyo.wordcamp.org/files/2019/06/wave.png") repeat-x;
			background-size: auto 100%;
			transition: none;
			opacity: 1;
		}
		.site-featured-image{
			display: none;
		}
	}
}

@media only screen and (min-width: 768px) {
  .site-header {
    background-image: url('https://2019.tokyo.wordcamp.org/files/2019/07/keyvisual_bg.jpg');
    &::after {
      animation: bgscroll 26s linear infinite;
    }
  }
	.featured-image{
		.site-title{
			display: flex;
		}
	}
}

.site-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > a {
    order: 1;
    display: block;
    width: 80%;
    max-width: 480px;
    height: 22vmax;
    max-height: 240px;
    background-image: url("https://2019.tokyo.wordcamp.org/files/2019/06/wctokyo_logo_web.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    text-indent: -9999px;
  }
}
.home {
  .site-header {
    padding: 140px 0 120px 0;
  }
  .site-title {
    & > a {
      max-width: 960px;
      height: 30vmax;
      max-height: 420px;
      animation: fadeIn 3s, fadeOut 3s 5s forwards;
    }
  }
}

/* --------------------
  記事タイトル
-------------------- */
.sticky-post {
  display: none; //おすすめ消す
}

.entry-header {
  margin-bottom: 40px !important;
  padding-top: 30px;
  &::after {
    content: "";
    width: 20px;
    height: 5px;
    border-radius: 10px;
    background-color: $primary;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-55deg);
  }
}
.entry-title {
  position: relative;
  text-align: center;
  padding-bottom: 0.95em;
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 0.05em;
  &::before {
    display: none !important;
  }
  &::after {
    color: #ccc;
    letter-spacing: 0.18em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-size: 0.5em;
    font-weight: 800;
  }
}

.post-397 .entry-title::after {
  content: "OUTLINE";
}
.post-358 .entry-title::after {
  content: "ROADMAP";
}

/* --------------------
  記事内
-------------------- */
//見出し
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 2em 0 1em;
}
.entry-content h1 {
  font-size: 2rem;
}
.entry-content h2 {
  position: relative;
  font-size: 1.6rem;
  padding-left: 1em;
  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0.5em;
    height: 0.5em;
    margin: 0;
    background-color: $primary;
    border-radius: 50%;
  }
}
.entry-content h3 {
  font-size: 1.3rem;
  &::before {
    content: "-";
    color: $primary;
    margin-right: 0.3em;
    line-height: 1.8;
  }
}
.entry-content h4 {
  font-size: 1.05rem;
  border-left: 3px dotted $primary;
  padding-left: 0.3em;
}
.entry-content h5,
.entry-content h6 {
  font-size: 1rem;
}
.entry-content .themeTitle {
  font-size: 2rem;
  color: $primary;
  &::before {
    display: none;
  }
}
//本文
.entry-content p {
  font-size: 1rem;
  line-height: 2;
}

.entry-content .has-small-font-size {
  font-size: 0.85rem !important;
}

//リンク
.entry-content a {
  color: $secondary;
  border-bottom: 1px dotted $secondary;
  text-decoration: none !important;
}

.entry-content a:hover {
  // 	border: none;
}

//テーブル
.entry-content {
  table {
    th,
    td {
      font-size: 0.9rem;
      border-color: #eee !important;
      border-width: 2px;
      padding: 10px;
    }
    tr {
      &:nth-child(odd) td {
        background: #f6f6f6;
      }
      &:first-child td {
        background: $primary;
        color: #ffffff;
        text-align: center;
        padding: 15px;
      }
      td {
        &:first-child {
          text-align: center;
        }
      }
    }
  }
}

/* --------------------
  ウィジェット
-------------------- */
#colophon {
  .widget-column {
    display: block;
    /* ウィジェット */
    .widget {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 60px;
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      /* ウィジェットタイトル */
      .widget-title {
        display: inline-block;
        font-size: 1.4rem;
        font-style: italic;
        letter-spacing: 0.05em;
        font-weight: bold;
        padding: 0 4px 0.4em;
        border-bottom: 3px solid $primary;
        &::before {
          display: none;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  #colophon {
    .widget-column {
      /* ウィジェット */
      .widget {
        margin-bottom: 80px;
        max-width: calc(3 * 1rem) calc(10% + 60px) calc(1rem / 2);
      }
    }
  }
}
/* スポンサー */
.sponsor-level {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.sponsor-level-title {
  width: 100%;
  min-width: 100%;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 3em 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before,
  &::after {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background: $textcolor;
    flex: 1;
  }
  &::before {
    margin-right: 0.5em;
  }
  &::after {
    margin-left: 0.5em;
  }
}

.sponsor-level.gold .sponsor-level-title {
  color: $gold;
  &::before,
  &::after {
    background: $gold;
  }
}
.sponsor-level.silver .sponsor-level-title {
  color: $silver;
  &::before,
  &::after {
    background: $silver;
  }
}
.sponsor-level.bronze .sponsor-level-title {
  color: $bronze;
  &::before,
  &::after {
    background: $bronze;
  }
}
.sponsor-level.green .sponsor-level-title {
  color: $green;
  &::before,
  &::after {
    background: $green;
  }
}

.sponsor-logo {
  padding-bottom: 0 !important;
  border: 1px solid #fff;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.sponsor-logo:hover {
  border: 1px solid #eee;
}

.sponsor-logo img {
  padding: 20px;
}
.sponsor-level.gold .sponsor-logo {
  flex: 0 1 100%;
}
.sponsor-level .sponsor-logo {
  flex: 0 1 50%;
}
@media only screen and (min-width: 768px) {
  .sponsor-level.gold .sponsor-logo {
    flex: 0 1 50%;
  }
  .sponsor-level.silver .sponsor-logo {
    flex: 0 1 50%;
  }
  .sponsor-level.bronze .sponsor-logo {
    flex: 0 1 33%;
  }
  .sponsor-level.green .sponsor-logo {
    flex: 0 1 25%;
  }
  .sponsor-level.in-kind .sponsor-logo {
    flex: 0 1 25%;
  }
}

/* SNS */
.jetpack-social-widget-list {
  text-align: center;
}
#icon-twitter {
  fill: #1da1f2;
}
#icon-facebook {
  fill: #3c5a99;
}

/* --------------------
  フッター
-------------------- */
#colophon {
  .site-info {
    margin: 0 !important;
    text-align: center;
    padding: 60px 20px;
    font-size: 0.9rem;
    background-color: $primary;
    color: #fff !important;
    display: block;
    border-top: 10px solid $secondary;
    a {
      color: #ffffff;
      &:hover {
        color: lighten($secondary, 20%);
        text-decoration: underline;
      }
    }
  }
  .footer-navigation {
    margin-top: 20px;
    display: block;
    .footer-menu {
      li {
        display: block;
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        a {
          padding: 8px 0;
          display: block;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  #colophon {
    .footer-navigation {
      .footer-menu {
        li {
          display: inline-block;
        }
      }
    }
  }
}

/* ----
for coming soon mode
add 2019/04/19 11:57
update 2019/04/19 21:55
*/

/* elements */
button,
input[type="submit"] {
  background: #edb62e;
  border-color: $secondary;
  color: #373737;
  text-shadow: none;
}
.wccsp-header {
  background: #edb62e;
  background: linear-gradient(45deg, #d69d12, #edb62e);
  background: no-repeat url("/files/2019/04/tokyotower_dark.jpg"), linear-gradient(45deg, #d69d12, #edb62e);
  background-size: cover;
  background-position: 40% 50%;
  position: relative;
}
.wccsp-header:after {
  content: "Coming Soon!";
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  top: 2em;
  left: 1em;
  transform: rotate(-10deg);
}
.wccsp-header h1 {
  font-weight: 700;
}
h2.wccsp-dates {
  font-weight: 700;
  /* color: #373737; */
}

/* add custom class "coming-soon" */
#wccsp-introduction .coming-soon__box {
  border: 0.2em solid #edb62e;
  padding: 21px;
  display: block;
}
.coming-soon__box__item {
  display: block;
  margin-bottom: 18px;
  line-height: 1.85em;
  padding-bottom: 18px;
  border-bottom: 1px solid #edb62e;
}
.coming-soon__box__item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.coming-soon__ttl {
  display: block;
  font-size: 18px;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  color: #735410;
}
.coming-soon__body {
  display: block;
  padding-left: 1em;
  font-size: 18px;
  line-height: 1.5em;
}
.coming-soon__body + .coming-soon__body {
  margin-top: 18px;
}
.coming-soon__numb {
  font-size: 28px;
  font-weight: 700;
}
.coming-soon__texts {
  font-size: 18px;
  display: block;
  margin: 2em auto;
  line-height: 1.75em;
}
.coming-soon__date {
  line-height: 1.75em;
}
.coming-soon__venue {
  font-size: 14px;
}
.coming-soon__venue strong {
  font-size: 20px;
  margin-bottom: 0.5em;
  display: inline-block;
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
  body {
    font-size: 18px;
  }
  button,
  input[type="submit"] {
    font-size: 12px;
    line-height: 1.2em;
  }
  .coming-soon__ttl {
    font-size: 14px;
  }
  .coming-soon__body {
    padding-left: 0;
  }
  .coming-soon__numb {
    font-size: 24px;
  }
  .coming-soon__date {
    font-size: 16px;
  }
  .coming-soon__venue {
    line-height: 1.4em;
  }
  .coming-soon__venue strong {
    line-height: 1.25em;
  }
  .wccsp-header {
    background-position: 20% 80%;
  }
}
/* XLarge screens */
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {
  .wccsp-header {
    background-attachment: fixed;
    background-position: bottom;
  }
}
/* ----
 end for coming soon mode style */

/*
	keyframe
*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bgscroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

// ADD by mimi 2019/06/04
// Fix main-navivgation
.main-navigation .main-menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu.hidden-links {
  display: none;
}
.main-navigation .main-menu .menu-item-has-children.off-canvas .sub-menu.expanded-true {
  top: 48px;
}
// For the post of outline title
#post-397 h2 {
  margin-top: 0;
  padding-left: 0;
  font-size: 2.1em;
  word-wrap: break-word;
  &:before {
    display: none;
  }
}
// ADD by mimi 2019/06/06
// サイトロゴを表示しない
.site-logo {
  display: none;
}

// ADD by mimi 2019/06/20
// Fix centering
@media only screen and (min-width: 1168px) {
  .entry .entry-content .wp-block-image .aligncenter {
    margin: auto;
  }
}
@media only screen and (min-width: 768px) {
  .entry .entry-content .wp-block-image .aligncenter {
    margin: auto;
  }
  .entry .entry-content > *.aligncenter {
    margin-right: auto;
    margin-left: auto;
  }
}
// Button link Color
.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background) {
  background-color: #edb62e;
  color: $textcolor;
  &:hover {
    background-color: lighten(#edb62e,10%);
  }
}
// navigation link
.post-navigation .post-title {
	color: $primary;
}
// wp-block-cover
.entry-content .wp-block-cover {
  h2 {
    &:before {
      display: none;
    }
    margin: auto;
  }
}
