@import "config"; //設定ファイル
@import "base"; //全体用設定
@import "navigation"; //グローバルナビゲーション用設定
@import "keyvisual"; //キービジュアル用設定
@import "widget"; //ウィジェット設定

.entry .entry-content > * {
  margin-left: auto;
  margin-right: auto;
}
.alignfull {
  .wp-block-column {
    padding: 20px;
  }
}

.themeword {
  font-size: 1.4em;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}



/* --------------------
  記事タイトル
-------------------- */
.sticky-post {
  display: none; //おすすめ消す
}

.entry-header {
  margin-bottom: 40px !important;
  padding-top: 30px;
  &::after {
    content: "";
    width: 20px;
    height: 5px;
    border-radius: 10px;
    background-color: $primary;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-55deg);
  }
}
.entry-title {
  position: relative;
  text-align: center;
  padding-bottom: 0.95em;
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 0.05em;
  &::before {
    display: none !important;
  }
  &::after {
    color: #ccc;
    letter-spacing: 0.18em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-size: 0.5em;
    font-weight: 800;
  }
}

.post-397 .entry-title::after {
  content: "OUTLINE";
}
.post-358 .entry-title::after {
  content: "ROADMAP";
}

/* --------------------
  記事内
-------------------- */
//見出し
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 2em 0 1em;
}
.entry-content h1 {
  font-size: 2rem;
}
.entry-content h2 {
  position: relative;
  font-size: 1.6rem;
  padding-left: 1em;
  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0.5em;
    height: 0.5em;
    margin: 0;
    background-color: $primary;
    border-radius: 50%;
  }
}
.entry-content h3 {
  font-size: 1.3rem;
  &::before {
    content: "-";
    color: $primary;
    margin-right: 0.3em;
    line-height: 1.8;
  }
}
.entry-content h4 {
  font-size: 1.05rem;
  border-left: 3px dotted $primary;
  padding-left: 0.3em;
}
.entry-content h5,
.entry-content h6 {
  font-size: 1rem;
}
.entry-content .themeTitle {
  font-size: 2rem;
  color: $primary;
  &::before {
    display: none;
  }
}
//本文
.entry-content p {
  font-size: 1rem;
  line-height: 2;
}

.entry-content .has-small-font-size {
  font-size: 0.85rem !important;
}

//リンク
.entry-content a {
  color: $secondary;
  border-bottom: 1px dotted $secondary;
  text-decoration: none !important;
}

.entry-content a:hover {
  // 	border: none;
}

//テーブル
.entry-content {
  table {
    th,
    td {
      font-size: 0.9rem;
      border-color: #eee !important;
      border-width: 2px;
      padding: 10px;
    }
    tr {
      &:nth-child(odd) td {
        background: #f6f6f6;
      }
      &:first-child td {
        background: $primary;
        color: #ffffff;
        text-align: center;
        padding: 15px;
      }
      td {
        &:first-child {
          text-align: center;
        }
      }
    }
  }
}
/* スポンサー */
.sponsor-level {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.sponsor-level-title {
  width: 100%;
  min-width: 100%;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 3em 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before,
  &::after {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background: $textcolor;
    flex: 1;
  }
  &::before {
    margin-right: 0.5em;
  }
  &::after {
    margin-left: 0.5em;
  }
}

.sponsor-level.gold .sponsor-level-title {
  color: $gold;
  &::before,
  &::after {
    background: $gold;
  }
}
.sponsor-level.silver .sponsor-level-title {
  color: $silver;
  &::before,
  &::after {
    background: $silver;
  }
}
.sponsor-level.bronze .sponsor-level-title {
  color: $bronze;
  &::before,
  &::after {
    background: $bronze;
  }
}
.sponsor-level.green .sponsor-level-title {
  color: $green;
  &::before,
  &::after {
    background: $green;
  }
}

.sponsor-logo {
  padding-bottom: 0 !important;
  border: 1px solid #fff;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.sponsor-logo:hover {
  border: 1px solid #eee;
}

.sponsor-logo img {
  padding: 20px;
}
.sponsor-level.gold .sponsor-logo {
  flex: 0 1 100%;
}
.sponsor-level .sponsor-logo {
  flex: 0 1 50%;
}
@media only screen and (min-width: 768px) {
  .sponsor-level.gold .sponsor-logo {
    flex: 0 1 50%;
  }
  .sponsor-level.silver .sponsor-logo {
    flex: 0 1 50%;
  }
  .sponsor-level.bronze .sponsor-logo {
    flex: 0 1 33%;
  }
  .sponsor-level.green .sponsor-logo {
    flex: 0 1 25%;
  }
  .sponsor-level.in-kind .sponsor-logo {
    flex: 0 1 25%;
  }
}

/* SNS */
.jetpack-social-widget-list {
  text-align: center;
}
#icon-twitter {
  fill: #1da1f2;
}
#icon-facebook {
  fill: #3c5a99;
}

/* --------------------
  フッター
-------------------- */
#colophon {
  .site-info {
    margin: 0 !important;
    text-align: center;
    padding: 60px 20px;
    font-size: 0.9rem;
    background-color: $primary;
    color: #fff !important;
    display: block;
    border-top: 10px solid $secondary;
    a {
      color: #ffffff;
      &:hover {
        color: lighten($secondary, 20%);
        text-decoration: underline;
      }
    }
  }
  .footer-navigation {
    margin-top: 20px;
    display: block;
    .footer-menu {
      li {
        display: block;
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        a {
          padding: 8px 0;
          display: block;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  #colophon {
    .footer-navigation {
      .footer-menu {
        li {
          display: inline-block;
        }
      }
    }
  }
}

/* ----
for coming soon mode
add 2019/04/19 11:57
update 2019/04/19 21:55
*/

/* elements */
button,
input[type="submit"] {
  background: #edb62e;
  border-color: $secondary;
  color: #373737;
  text-shadow: none;
}
.wccsp-header {
  background: #edb62e;
  background: linear-gradient(45deg, #d69d12, #edb62e);
  background: no-repeat url("/files/2019/04/tokyotower_dark.jpg"), linear-gradient(45deg, #d69d12, #edb62e);
  background-size: cover;
  background-position: 40% 50%;
  position: relative;
}
.wccsp-header:after {
  content: "Coming Soon!";
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  top: 2em;
  left: 1em;
  transform: rotate(-10deg);
}
.wccsp-header h1 {
  font-weight: 700;
}
h2.wccsp-dates {
  font-weight: 700;
  /* color: #373737; */
}

/* add custom class "coming-soon" */
#wccsp-introduction .coming-soon__box {
  border: 0.2em solid #edb62e;
  padding: 21px;
  display: block;
}
.coming-soon__box__item {
  display: block;
  margin-bottom: 18px;
  line-height: 1.85em;
  padding-bottom: 18px;
  border-bottom: 1px solid #edb62e;
}
.coming-soon__box__item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.coming-soon__ttl {
  display: block;
  font-size: 18px;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  color: #735410;
}
.coming-soon__body {
  display: block;
  padding-left: 1em;
  font-size: 18px;
  line-height: 1.5em;
}
.coming-soon__body + .coming-soon__body {
  margin-top: 18px;
}
.coming-soon__numb {
  font-size: 28px;
  font-weight: 700;
}
.coming-soon__texts {
  font-size: 18px;
  display: block;
  margin: 2em auto;
  line-height: 1.75em;
}
.coming-soon__date {
  line-height: 1.75em;
}
.coming-soon__venue {
  font-size: 14px;
}
.coming-soon__venue strong {
  font-size: 20px;
  margin-bottom: 0.5em;
  display: inline-block;
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
  body {
    font-size: 18px;
  }
  button,
  input[type="submit"] {
    font-size: 12px;
    line-height: 1.2em;
  }
  .coming-soon__ttl {
    font-size: 14px;
  }
  .coming-soon__body {
    padding-left: 0;
  }
  .coming-soon__numb {
    font-size: 24px;
  }
  .coming-soon__date {
    font-size: 16px;
  }
  .coming-soon__venue {
    line-height: 1.4em;
  }
  .coming-soon__venue strong {
    line-height: 1.25em;
  }
  .wccsp-header {
    background-position: 20% 80%;
  }
}
/* XLarge screens */
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {
  .wccsp-header {
    background-attachment: fixed;
    background-position: bottom;
  }
}
/* ----
 end for coming soon mode style */



// ADD by mimi 2019/06/04
// Fix main-navivgation
.main-navigation .main-menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu.hidden-links {
  display: none;
}
.main-navigation .main-menu .menu-item-has-children.off-canvas .sub-menu.expanded-true {
  top: 48px;
}
// For the post of outline title
#post-397 h2 {
  margin-top: 0;
  padding-left: 0;
  font-size: 2.1em;
  word-wrap: break-word;
  &:before {
    display: none;
  }
}
// ADD by mimi 2019/06/06
// サイトロゴを表示しない
.site-logo {
  display: none;
}

// ADD by mimi 2019/06/20
// Fix centering
@media only screen and (min-width: 1168px) {
  .entry .entry-content .wp-block-image .aligncenter {
    margin: auto;
  }
}
@media only screen and (min-width: 768px) {
  .entry .entry-content .wp-block-image .aligncenter {
    margin: auto;
  }
  .entry .entry-content > *.aligncenter {
    margin-right: auto;
    margin-left: auto;
  }
}
// Button link Color
.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background) {
  background-color: #edb62e;
  color: $textcolor;
  &:hover {
    background-color: lighten(#edb62e,10%);
  }
}
// navigation link
.post-navigation .post-title {
	color: $primary;
}
// wp-block-cover
.entry-content .wp-block-cover {
  h2 {
    &:before {
      display: none;
    }
    margin: auto;
  }
}
.image-filters-enabled{
  .entry{
    .post-thumbnail{
      display: none;
    }
  }
}
