@import "config";
@import "base";
@import "navigation";
@import "widget";
@import "footer";
@import "sponcer";
@import "timetable";
@import "session";

/* ----
for ティザーサイト
add 2019/06/01 21:45
*/

.entry .entry-content > * {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(10 * (100vw / 12) - 28px);
}
@media only screen and (min-width: 1168px){
  .entry .entry-content > * {
    max-width: calc(8 * (100vw / 12) - 28px);
  }
}
.alignfull {
  .wp-block-column {
    padding: 20px;
  }
}

.themeword {
  font-size: 1.4em;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
/* --------------------
  ヘッダービジュアル
-------------------- */


//header
.site-description {
  display: none;
}
body{
  .site-header {
    padding: 80px 0;
    background: url('https://2019.tokyo.wordcamp.org/files/2019/07/keyvisual_sp.jpg') repeat-x;
    background-size: auto 150%;
    position: relative;
    display: block;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 20px;
      left: 0;
      bottom: -2px;
      background: url("https://2019.tokyo.wordcamp.org/files/2019/06/wave.png") repeat-x;
      background-size: auto 100%;
    }
  	&.featured-image{
  		display: block;
  		overflow: inherit;
  		text-shadow: none;
  		background-color: #f5f5f5;
  		background-repeat: repeat;
  		background-size: inherit;
  		min-height: inherit;
  		margin-bottom: 0;
  		&::after{
  			content: "";
  			display: block;
  			position: absolute;
  			width: 100%;
  			height: 20px;
  			left: 0;
  			bottom: -2px;
  			top: inherit;
  			background: url("https://2019.tokyo.wordcamp.org/files/2019/06/wave.png") repeat-x;
  			background-size: auto 100%;
  			transition: none;
  			opacity: 1;
  		}
  		.site-featured-image{
  			display: none;
  		}
  	}
    .site-branding-container{
      .site-branding{
        .site-title {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          & > a {
            order: 1;
            display: block;
            width: 80%;
            max-width: 480px;
            height: 22vmax;
            max-height: 240px;
            background:#fff url("https://2019.tokyo.wordcamp.org/files/2019/06/wctokyo_logo_web.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 80% auto;
            text-indent: -9999px;
            border-radius: 10px;
          }
        }
      }
    }
  }
  &.home{
    .site-header {
      padding: 90px 0 80px 0;
      min-height: 90vh;
      background-size: auto 100%;
      animation: bgscroll 60s linear infinite;
      transform: translate3d(0,0,0);
      display: flex;
      justify-content: center;
      align-items: center;
      .site-branding-container{
        width: 90vw;
        height: 90vw;
        max-width: 720px;
        max-height: 720px;
        background: #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .site-branding{
          margin: 0;
          .site-title {
            width: 70vw;
            max-width: 680px;
            height: auto;
            display: block;
            & > a {
              width: 100%;
              margin: 0 auto;
              animation: fadeIn 3s, fadeOut 3s 5s forwards;
              background: url("https://2019.tokyo.wordcamp.org/files/2019/06/wctokyo_logo_web.png") no-repeat;
              background-size: 100% auto;
              border-radius: 0;
              background-position: center center;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  body{
    .site-header {
      background-image: url('https://2019.tokyo.wordcamp.org/files/2019/07/keyvisual_bg.jpg');
      &::after {
        animation: bgscroll 26s linear infinite;
      }
    }
  	.featured-image{
  		.site-title{
  			display: flex;
  		}
  	}
    &.home{
      .site-header {
        .site-branding-container{
          width: 55vw;
          height: 55vw;
          max-width: 720px;
          max-height: 720px;
          .site-branding{
            .site-title{
              width: 40vw;
            }
          }
        }
      }
    }
  }
}

/* スポンサー */
.sponsor-level {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.sponsor-level-title {
  width: 100%;
  min-width: 100%;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 3em 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before,
  &::after {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background: $textcolor;
    flex: 1;
  }
  &::before {
    margin-right: 0.5em;
  }
  &::after {
    margin-left: 0.5em;
  }
}

.sponsor-level.gold .sponsor-level-title {
  color: $gold;
  &::before,
  &::after {
    background: $gold;
  }
}
.sponsor-level.silver .sponsor-level-title {
  color: $silver;
  &::before,
  &::after {
    background: $silver;
  }
}
.sponsor-level.bronze .sponsor-level-title {
  color: $bronze;
  &::before,
  &::after {
    background: $bronze;
  }
}
.sponsor-level.green .sponsor-level-title {
  color: $green;
  &::before,
  &::after {
    background: $green;
  }
}

.sponsor-logo {
  padding-bottom: 0 !important;
  border: 1px solid #fff;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.sponsor-logo:hover {
  border: 1px solid #eee;
}

.sponsor-logo img {
  padding: 20px;
}
.sponsor-level.gold .sponsor-logo {
  flex: 0 1 100%;
}
.sponsor-level .sponsor-logo {
  flex: 0 1 50%;
}
@media only screen and (min-width: 768px) {
  .sponsor-level.gold .sponsor-logo {
    flex: 0 1 50%;
  }
  .sponsor-level.silver .sponsor-logo {
    flex: 0 1 50%;
  }
  .sponsor-level.bronze .sponsor-logo {
    flex: 0 1 33%;
  }
  .sponsor-level.green .sponsor-logo {
    flex: 0 1 25%;
  }
  .sponsor-level.in-kind .sponsor-logo {
    flex: 0 1 25%;
  }
}


/* ----
for coming soon mode
add 2019/04/19 11:57
update 2019/04/19 21:55
*/

/* elements */
button,
input[type="submit"] {
  background: #edb62e;
  border-color: $secondary;
  color: #373737;
  text-shadow: none;
}
.wccsp-header {
  background: #edb62e;
  background: linear-gradient(45deg, #d69d12, #edb62e);
  background: no-repeat url("/files/2019/04/tokyotower_dark.jpg"), linear-gradient(45deg, #d69d12, #edb62e);
  background-size: cover;
  background-position: 40% 50%;
  position: relative;
}
.wccsp-header:after {
  content: "Coming Soon!";
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  top: 2em;
  left: 1em;
  transform: rotate(-10deg);
}
.wccsp-header h1 {
  font-weight: 700;
}
h2.wccsp-dates {
  font-weight: 700;
  /* color: #373737; */
}

/* add custom class "coming-soon" */
#wccsp-introduction .coming-soon__box {
  border: 0.2em solid #edb62e;
  padding: 21px;
  display: block;
}
.coming-soon__box__item {
  display: block;
  margin-bottom: 18px;
  line-height: 1.85em;
  padding-bottom: 18px;
  border-bottom: 1px solid #edb62e;
}
.coming-soon__box__item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.coming-soon__ttl {
  display: block;
  font-size: 18px;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  color: #735410;
}
.coming-soon__body {
  display: block;
  padding-left: 1em;
  font-size: 18px;
  line-height: 1.5em;
}
.coming-soon__body + .coming-soon__body {
  margin-top: 18px;
}
.coming-soon__numb {
  font-size: 28px;
  font-weight: 700;
}
.coming-soon__texts {
  font-size: 18px;
  display: block;
  margin: 2em auto;
  line-height: 1.75em;
}
.coming-soon__date {
  line-height: 1.75em;
}
.coming-soon__venue {
  font-size: 14px;
}
.coming-soon__venue strong {
  font-size: 20px;
  margin-bottom: 0.5em;
  display: inline-block;
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
  body {
    font-size: 18px;
  }
  button,
  input[type="submit"] {
    font-size: 12px;
    line-height: 1.2em;
  }
  .coming-soon__ttl {
    font-size: 14px;
  }
  .coming-soon__body {
    padding-left: 0;
  }
  .coming-soon__numb {
    font-size: 24px;
  }
  .coming-soon__date {
    font-size: 16px;
  }
  .coming-soon__venue {
    line-height: 1.4em;
  }
  .coming-soon__venue strong {
    line-height: 1.25em;
  }
  .wccsp-header {
    background-position: 20% 80%;
  }
}
/* XLarge screens */
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {
  .wccsp-header {
    background-attachment: fixed;
    background-position: bottom;
  }
}
/* ----
 end for coming soon mode style */

// ADD by mimi 2019/06/04
// Fix main-navivgation
.main-navigation .main-menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu.hidden-links {
  display: none;
}
.main-navigation .main-menu .menu-item-has-children.off-canvas .sub-menu.expanded-true {
  top: 48px;
}
// For the post of outline title
#post-397 h2 {
  margin-top: 0;
  padding-left: 0;
  font-size: 2.1em;
  word-wrap: break-word;
  &:before {
    display: none;
  }
}
// ADD by mimi 2019/06/06
// サイトロゴを表示しない
.site-logo {
  display: none;
}

// ADD by mimi 2019/06/20
// Fix centering
@media only screen and (min-width: 1168px) {
  .entry .entry-content .wp-block-image .aligncenter {
    margin: auto;
  }
}
@media only screen and (min-width: 768px) {
  .entry .entry-content .wp-block-image .aligncenter {
    margin: auto;
  }
  .entry .entry-content > *.aligncenter {
    margin-right: auto;
    margin-left: auto;
  }
}
// Button link Color
.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background) {
  background-color: #edb62e;
  color: $textcolor;
  &:hover {
    background-color: lighten(#edb62e,10%);
  }
}
// navigation link
.post-navigation .post-title {
	color: $primary;
}
// wp-block-cover
.image-filters-enabled{
  .entry{
    .post-thumbnail{
      display: none;
    }
  }
}
